@font-face {
	font-family: 'JasefinSans Light';
	font-display: swap;
	src: url("../fonts/static/JosefinSans-Light.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'JasefinSans Bold';
	font-display: swap;
	src: url("../fonts/static/JosefinSans-Bold.ttf");
	font-weight: normal;
	font-style: normal;
}

